body{
    background-color: rgb(53, 59, 65);
}


a {
    color: inherit;
    text-decoration: none;
}
#canv {
        

    border: 2px solid pink;
    margin: auto;
    width: 99%;
    height: 900px;
    position: relative;
        
}
canvas{
    border: 1px solid white;
    margin: auto;
    border-radius: 10px;
    position: absolute;
}
#boidsMap{ z-index: 2; }
#boids { z-index: 3; }





.reset{
   background-color: white;
   color: black;
   border: 2px solid red;
   border-radius: 10%;
   margin: auto;
   
}

.optionSelector{
    display: flex;
    justify-content: space-around;
    margin: auto;
    border : 5px solid green;
    z-index: 1;
    background-color: rgb(53, 59, 65);
}

.SliderContainer{
    vertical-align: middle;
    align-items: center;
    margin : auto;
    position: relative;
}

.footer {
    clear: both;
}


.slider::before{
    content: "0";
    color: white;
 
    position: absolute;
    right: 100%;
    bottom: -20%;
    
}

.slider::after{
    content: "100";
    color: white;

    position: absolute;
    left: 100%;
    bottom: -20%;
}
